{% extends 'layout/default.html' %}
{% load custom_filters %} <!-- не забываем заранее загружать наши фильтры! -->

{% block title %}
NewsPaper - Поиск постов по категории
{% endblock title %}

<!-- В контенте на странице мы выводим все посты -->
{% block content %}
<h1>Поиск постов по категории</h1>
<hr>

<h3>Выберите параметры поста для поиска</h3>

<form method="GET">
   {{ filter.form }}
<!--Форму от фильтров сделает Django. А кнопку нужно делать самим-->
   <input class="btn btn-primary" type="submit" value="Найти">
</form>

</br>
<h4>В соответствии с выбранными параметрами количество найденных постов: {{ posts|length }}</h4>
<hr>

    {% for post in filter.qs %}
        </br>
        <a href="{% url 'news:post_detail' post.id %}">
             {{ post.postTitle|Censor }}
        </a>
        </br>
        Дата создания: {{ post.postCreated|date:'d M Y' }}&nbsp;
        <a href="{% url 'news:post_create' post.id %}" target="_blank">
            Редактировать
        </a>
        &nbsp;
        <a href="{% url 'news:post_delete' post.id %}" target="_blank">
            Удалить
        </a>

        </br>
    {% endfor %}
</br>

{% for post in posts %}
    <h2>{{ post.postTitle }}</h2>
    <!-- display other post details as needed -->
{% endfor %}

{% endblock content %}
