<!--  по заданию наследуемся от шаблона default.html -->
{% extends 'layout/default.html' %}
{% load custom_filters %} <!-- не забываем заранее загружать наши фильтры! -->

<!-- Заголовок страницы -->
{% block title %}
NewsPaper - {{ post.postTitle }}
{% endblock title %}

<!-- В контенте на странице мы выводим сам пост, первичный ключ которого был передан в адрес -->
{% block content %}

</br>
<div class="card">
    <div class="card-header">
        </br>
        <h3>
            {{ post.postTitle|Censor }}
        </h3>
            <p>
                Тип поста:
                <span class="badge bg-info">
                     {{ post.get_post_type_display }}
                </span>
                Дата публикации:
                <span class="badge bg-info">
                    {{ post.postCreated|date:'d M Y, h ч m мин' }}
                </span>
                Автор:
                <span class="badge bg-info">
                    {{ post.postAuthor.authorUser.username }}
                </span>
                Рейтинг поста:
                <span class="badge bg-info">
                    {{ post.postRating }}
                </span>
            </p>
            <p>
            Категории:
            {% for cat in post.postCats.all %}
                 <span class="badge bg-info">
                    <a href="{% url 'news:category' cat.id %}" title="Посмотреть категорию" target="_blank">
                        {{ cat.categoryName }}
                    </a>
                 </span>
            {% endfor %}
                </br>
            </p>
    </div>
    <div class="card-body">
            {{ post.postText|Censor|safe }}
    </div>
</div>
</br>

{% endblock content %}
